:root {
    --darkest-blue: #0A1128;
    --middle-blue: #001F54;
    --light-blue: #034078;
    --light-red: #DE4D4D;
    --neon: #22FF64;
    --grey: #666870;
    --white: #FFFFFF;
}

@font-face {
    font-family: Creepster;
    src: local("Creepster"),
    url("/Fonts/Creepster/Creepster-Regular.woff2") format("woff2"),
    url("/Fonts/Creepster/Creepster-Regular.woff") format("woff");
}

@font-face {
    font-family: Sen-Regular;
    src: local("Sen-Regular"),
    url("/Fonts/Sen/Sen-Regular.woff2") format("woff2"),
    url("/Fonts/Sen/Sen-Regular.woff") format("woff");
}

@font-face {
    font-family: Sen-ExtraBold;
    src: local("Sen-Regular"),
    url("/Fonts/Sen/Sen-ExtraBold.woff2") format("woff2"),
    url("/Fonts/Sen/Sen-ExtraBold.woff") format("woff");
}

@font-face {
    font-family: Sen-Bold;
    src: local("Sen-Regular"),
    url("/Fonts/Sen/Sen-Bold.woff2") format("woff2"),
    url("/Fonts/Sen/Sen-Bold.woff") format("woff");
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--darkest-blue);
    width: 100%;
}

header {
    width: 100%;
    height: 100px;
    background-color: var(--middle-blue);
    margin-top: 48px;
}

nav {
    width: 100%;
}