:root {
  --darkest-blue: #0a1128;
  --middle-blue: #001f54;
  --light-blue: #034078;
  --light-red: #de4d4d;
  --neon: #22ff64;
  --grey: #666870;
  --white: #ffffff;
}

@font-face {
  font-family: Creepster;
  src: local("Creepster"),
    url("/Fonts/Creepster/Creepster-Regular.woff2") format("woff2"),
    url("/Fonts/Creepster/Creepster-Regular.woff") format("woff");
}

@font-face {
  font-family: Sen-Regular;
  src: local("Sen-Regular"), url("/Fonts/Sen/Sen-Regular.woff2") format("woff2"),
    url("/Fonts/Sen/Sen-Regular.woff") format("woff");
}

@font-face {
  font-family: Sen-ExtraBold;
  src: local("Sen-Regular"),
    url("/Fonts/Sen/Sen-ExtraBold.woff2") format("woff2"),
    url("/Fonts/Sen/Sen-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: Sen-Bold;
  src: local("Sen-Regular"), url("/Fonts/Sen/Sen-Bold.woff2") format("woff2"),
    url("/Fonts/Sen/Sen-Bold.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: var(--darkest-blue);
  width: 100%;
}

button {
  transition: 0.3s;
  cursor: pointer;
}

header {
  width: 100%;
  height: 100px;
  background-color: var(--middle-blue);
  margin-top: 48px;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
}

.nav-text p {
  font-family: Creepster;
  font-size: 32px;
}

.logo {
  width: 90px;
  height: 90px;
}

/* About */

.about {
  height: 200px;
  width: 100%;
  background-color: var(--middle-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}

.about p {
  width: 310px;
  text-align: center;
  font-size: 20px;
  font-family: Sen-Regular;
}

.about button {
  width: 200px;
  height: 40px;
  background-color: var(--light-red);
  font-family: Sen-Bold;
  border: none;
  border-radius: 20px;
  color: var(--white);
  font-size: 24px;
  transition: 0.3s;
}

.about button:hover {
  scale: 0.98;
  background-color: #bf3d3d;
}

h2 {
  font-family: Creepster;
  font-size: 40px;
  color: var(--white);
}

h3 {
  font-family: Creepster;
  color: black;
  font-size: 26px;
}

h4 {
  font-family: Creepster;
  color: var(--white);
  font-size: 40px;
}
h5 {
  font-family: Creepster;
  color: var(--white);
  font-size: 33px;
  margin: 0;
  white-space: nowrap;
}

body p {
  font-family: Sen-Regular;
  color: var(--white);
}

footer {
  background-color: var(--light-red);
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

h6 {
  font-family: Sen-Bold;
  font-size: 24px;
  color: var(--white);
}

.footer-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin-top: 15px;
  margin-left: 10%;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 10px;
}

/* Hero */

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 96px;
  gap: 48px;
}

embed {
  height: 271px;
  width: 38px;
  transform: 0.2s;
}

.hero-intro {
  display: flex;
  justify-content: center;
  gap: 22px;
}

.hero-img {
  width: 313px;
  height: 202px;
  transition: 0.2s;
}

.hero img {
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

/* Cards */

.cards,
.process {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.card {
  background-color: var(--white);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  width: 342px;
  height: 437px;
  border-radius: 30px;
  transition: 0.3s;
}

.card img {
  height: 217px;
  width: 217px;
}

.sizes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 28px;
  text-align: center;
}

.sizes p {
  color: black;
  font-size: 20px;
}

.size {
  display: flex;
  flex-direction: column;
}

.size label {
  font-family: Sen-Regular;
  font-size: 20px;
}

.size input {
  width: 20px;
  height: 20px;
}

.card button {
  background-color: var(--light-red);
  border-radius: 21px;
  color: var(--white);
  width: 300px;
  height: 58px;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  font-size: 30px;
}

.card button img {
  width: 40px;
  height: 26px;
}

.process img {
  width: 100px;
  height: 100px;
}

.process-card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.process-card p {
  text-align: center;
}
/* Newsletter */

.news-letter {
  height: 300px;
  width: 100%;
  background-color: var(--middle-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 138px;
}

.news-letter-intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}

.news-letter-input input {
  border-radius: 20px;
  border: none;
  height: 40px;
  font-size: 15px;
  width: 200px;
  font-family: Sen-Regular;
}

.news-letter-input button {
  height: 40px;
  border: none;
  border-radius: 20px;
  width: 75px;
  background-color: var(--light-red);
}

.news-letter-input button:hover {
  scale: 0.98;
  background-color: #bf3d3d;
}

.news-letter-input input {
  padding-left: 16px;
}

.news-letter-input button p, .card button p, .about button {
  font-size: 20px;
  font-family: "Sen-Bold";
}

.news-letter-input button, .card button, .about button {
  height: 40px;
  border-radius: 16px;
}

.card button {
  width: 220px;
}

.nav-text {
  display: none;
}

.shopping-cart {
  display: none;
  width: 100%;
  object-fit: cover;
}

.process {
  display: flex;
  justify-content: center;
}

.nav-icon {
  width: 60px;
  height: 60px;
}

.hamburger {
  width: 100%;
  object-fit: cover;
}

.twitter,
.facebook {
  width: 44px;
  height: 44px;
  fill: var(--white);
}

.instagram {
  stroke: var(--white);
  width: 44px;
  height: 44px;
}

.shopping-cart,
.hamburger {
  fill: var(--white);
}

.hamburger:hover {
  fill: var(--neon);
  transition: 0.3s;
}

@media screen and (min-width: 710px) {
  .nav-text {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
  }

  .nav-text p:hover,
  .shopping-cart:hover {
    color: var(--neon);
    transition: 0.3s;
    cursor: pointer;
  }

  .footer-text p:hover,
  .instagram:hover,
  .twitter:hover,
  .facebook:hover {
    color: var(--white);
    transition: 0.3s;
    cursor: pointer;
    opacity: 70%;
  }

  .shopping-cart:hover {
    fill: var(--neon);
    transition: 0.3s;
  }
  .shopping-cart {
    display: inline-block;
  }
  .hamburger {
    display: none;
  }
  .about {
    width: 384px;
  }
  .hero-img {
    width: 579px;
    height: 374px;
  }
  embed {
    height: 430px;
    width: 50px;
  }
  footer {
    flex-direction: row;
  }
  .socials {
    flex-grow: 1;
    justify-content: center;
    gap: 58px;
  }
  .footer-text {
    flex-grow: 0;
    justify-content: center;
    gap: 8px;
    margin-top: 0;
    margin-bottom: 16px;
  }

  .card button:hover {
    background-color: #bf3d3d;
    scale: 0.98;
  }
}
